<!DOCTYPE html>
<html>
  <head>
    <title>TimeTable Generator</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  </head>
  <body>
  <h1 id="title" class="animated tada">Timetable Generator</h1>

  <div id="about">
    <ul>
      <li>
        Give the course codes of your  <%= dataSet.name %> classes.
      </li>
      <li>
        We will generate one or more timetables for you.
      </li>
    </ul>

  </div>
  </body>
</html>
