<!DOCTYPE html>
<html>

<head><title>Error</title>
    <link rel="icon" href="https://www.iconsfind.com/wp-content/uploads/2015/11/20151104_563963802fd08-210x210.png">
</head>
<body>
<h1>Unfortunately our algorithm was not able to generate a schedule for you :( </h1>
</body>
</html>