<!DOCTYPE html>
<html>

<head><title>Error</title>
    <link rel="icon" href="https://www.iconsfind.com/wp-content/uploads/2015/11/20151104_563963802fd08-210x210.png">
</head>
<body>
<h1>Course Conflict Error</h1>
<p>Specifically, the following fixed courses courses conflict with each other: <%= conflicts %> <br>
    This means that they have only one core, and those cores are conflicting. </p>
</body>
</html>