html , body{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: #eaeaea;
    overflow-y: auto;
    position: relative;
}


#titleBox{
    width: 100%;
    background: #000000;
    height: 70px;
    position: fixed;
    top:0px;
}
#about{
    border: 2px solid black;
    background: #f6f6f6;
    width: 55%;
    padding: 2%;
    margin-top:80px;
    margin-left: auto;
    margin-right:auto;
    border-radius:5px;

}

#about ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}


#about *{
    color: black;
    font-size: 2rem;
}
#title{
    text-align: center;
    font-size: 3.3rem;
    color: #f6f6f6;
    font-family: 'Righteous', cursive;
    letter-spacing: 3px;
}

#generate{
    margin-left: 20px;
    width: 130px;
    height: 40px;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #ffffff;
}
#about li{
    margin-top: 2%;
}

#inputBox{
    margin-top: 2%;
    margin-left:23%;
}

#input{
    margin-top: 5px;
    width:100%;
}

#oneline{
    display:inline-flex;
    width: 100%;
}

#add{
    margin-left: 2%;
}

.course{
    margin-top: 10px;
    list-style-type: none;
}

#error{
    color: red;
    font-size: 2rem;
    margin-top: 5px;
    margin-left: 20px;
}


.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

.remove{
    display: inline-block;
    margin-right: 20px;
}

#output{
    border: 2px solid black;
    background: #f6f6f6;
    height: 42%;
    width: 40%;
    overflow: auto;
    margin-top: 10px;
    margin-left:auto;
    margin-right: auto;
    font-size: 2rem;
    position: relative;
}

#info{
    text-align: center;
    margin-top: 22%;
    font-size: 2rem;
}